* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
header, h6 {
      font-weight: bolder;
}
h6 {
    color: #757b8a;;
}
header {
    font-size: 20px;
}
p, li {
    color: #6B717F;
}

  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    color: #fff;
    background: #BF4080;
  }

  .header h1 {
    font-size: 50px;
  }

  /* Style the top navigation bar */
.topnav {
    overflow: hidden; 
    background-color: #333;
    position: fixed;
    top: 12px;
    left: 10px;
    width: 350px;
    height: 100%; 
}

  /* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px 14px 30px; 
    text-decoration: none;  
    position: relative;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

/* Change color on hover */
  .topnav a:hover{
    background-color: #ddd !important;
    color: #BF4080;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 25%;
  }

  /* Right column */
  .rightcolumn {
    float: left;
    width: 75%;
    background-color: #f1f1f1;
    padding-left: 20px;
  } 

  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    color: #333;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
} 

.main-section {
    padding-top: 15px;
}

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }